<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154409842653-8vnt628t1ekutar3aqgtud9pulimkctm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154409842653-8vnt628t1ekutar3aqgtud9pulimkctm</string>
	<key>API_KEY</key>
	<string>AIzaSyAri1mP8SpE5lVyMvAbJ7cBLsDRHqVSA3E</string>
	<key>GCM_SENDER_ID</key>
	<string>154409842653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pistagram</string>
	<key>PROJECT_ID</key>
	<string>pistagram-f2300</string>
	<key>STORAGE_BUCKET</key>
	<string>pistagram-f2300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154409842653:ios:7fc26c65983c2080af6834</string>
</dict>
</plist>